
small{
    font-size: 16px;
    font-weight: bold;
    display: block;
}

textarea{
    display: block;
    width: 60vw;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
}

.output-head{
    font-size: 20px;
}
#output{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 60vw;
    height: 20vh;
}